#matrixCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Coloca el canvas detrás de otros elementos */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Fondo negro para mejor visibilidad */
    font-family: monospace, Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    gap: 20px; /* Espacio entre los cuadrados */
}

.square-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #ffffff46;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    overflow: hidden; /* Asegura que la imagen no se desborde */
}

.square img {
    width: 100%; /* Ajusta el ancho al 100% del cuadrado */
    height: 100%; /* Ajusta la altura al 100% del cuadrado */
    object-fit: contain; /* Mantiene la proporción de la imagen */
}

.square:hover {
    background-color: #26ff0074; /* Color de fondo al pasar el ratón */
}

h1 {
    color: white; /* Color del texto de los títulos */
    margin-top: 10px; /* Espacio entre el cuadrado y el texto */
}
